@media (max-width: 800px)
    .aboutus
        &__line
            display: none
        &__content
            height: 22rem
            &--text
                color: $dark-color
            &--img
                position: absolute
                z-index: -1
                opacity: 0.5

@media (max-width: 590px)
    .heading-primary
        &--sub 
        font-size: 5.5rem
    .large-padding
        padding: 7rem 0
    .services
        &__text
            padding-bottom: 1.5rem
    .team
        &__workers
            .worker
                padding: 1.5rem 0
    .contact
        .col
            padding-right: 5px
            padding-left: 5px
    .footer
        &__copy
            padding-bottom: 1rem